<!-- <nav>{% for item in site.data.navigation %}
	<a href="{{ item.link }}" class="nav-item{% if page.url == item.link %} active{% endif %}">{{ item.name }}</a>{% endfor %}
</nav> -->

<!-- <nav>{% for item in site.data.navigation %}
	<a class="nav-item{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>{% endfor %}
</nav> -->

<nav class="navbar navbar-expand-lg nav-pills navbar-dark fixed-top navbar-bg">
<!-- <nav class="nav nav-pills nav-fill"> -->
	<div class="container">
		<a class="navbar-brand" href="#">
			<!-- <img src="![name of the image][{{site.url}}/assets/msc-logo.png]" alt=""> -->
			<a class="brand-image" href="{{ HOME_PATH }}"><img class="brand-image" src="{{ASSET_PATH}}/assets/images/msc-logo.png" width="139px" height="40px"/></a>

		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				{% for item in site.data.navigation %}
				<li class="nav-item">
					<a class="nav-link{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
				</li>{% endfor %}

			</ul>
		</div>
	</div>
</nav>
