$theme-colors: (
  "primary": #01b9c7,
  "secondary": #01c5db
);
// $jumbotron-bg: #ccf9ff;


.navbar-bg {
	// background-color: #00d1b2;
	background-color: #538a8e;
}

// $button-primary-color:			#01b9c7;

// jumbotron example
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

// Move down content because we have a fixed navbar that is 3.5rem tall
body {
  padding-top: 3.5rem;
}


// .jumbotron {
// 	background-color: #ccf9ff;
// 	border-radius: 0;
// }
// .btn-primary {
// 	background-color: button-primary-color;
// 	border-color: #01b9c7;
// // }
// nav {
// 	background-color: $navbar-background-color;
// }
