---
---
// Custom.scss

@import "main";

// Option A: Include all of Bootstrap

// Required

@import "bootstrap/bootstrap";
// Add custom code after this

@media only screen and (max-width: 481px) {
  .display-3 {
      font-size: 3.0rem;
  }
}

.navbar-nav .nav-link { padding-left: 8px; }

.jumbotron {
    border-radius: 0;
    background: rgb(40,42,91);
 // background: linear-gradient(180deg, rgba(40,42,91,1) 0%, rgba(127,255,247,1) 100%);
    background: linear-gradient(180deg, #40decba8 0%, #a7972870 100%);;
}

.jumbotron .display-3 {
    // color: white;
    color: #72367d
}
